<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include("../partials/imports") %>
</head>

<body>
<div class="conteiner">
    <%- include("../elements/navbar") %>
    <br>
    <br>
    <br>
    <div id="site" style="text-align: center;">
        <h1>Zostałeś poprawnie zweryfikowany!</h1>
        <p>Teraz możesz zamknąć te strone</p>
        <p>Jeśli rola na serwerze nie została nadana skontaktuj sie z administracja tego serwera.</p>
    </div>
</div>

</body>