<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include("../partials/imports") %>
</head>

<body>
<div class="conteiner">
    <%- include("../elements/navbar") %>
    <br>
    <br>
    <br>
    <div id="site" style="text-align: center;">
        <h1>Nie zostałeś zweryfikowany</h1>
        <h2>Co mogło spowodować ten błąd?</h2>
        <p>Nie wykonałeś captchy</p>
        <p>Wystąpił błąd po naszej stronie lub po stronie Google</p>
        <h2>Jak moge naprawić ten błąd?</h2>
        <p>Spróbuj jeszcze raz przejść capthe (<a href="<%= captchaurl; %>">tutaj</a>)</p>
        <p>Skontaktuj sie z administracją serwera</p>
    </div>
</div>

</body>