<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include("../partials/imports") %>
</head>

<body>

<div class="conteiner" style="text-align: center; margin-top: 40vh;">
    <h1>Błąd 404</h1>
    <p>Przykro nam, lecz nie odnaleziono tej strony!</p>
</div>

</body>

