<!--=============-->
<!-- Loader File -->
<!--=============-->

<link rel="stylesheet" href="/static/css/loader.css">

<div class="loader-container">
    <div class="loader">Loading...</div>
</div>

<script>
    $(window).on("load", () => {
        $(".loader-container").fadeOut();
    });
</script>
