<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include("partials/imports") %>
</head>


<body>

<%- include("elements/navbar") %>
<br>
<br>
<div class="conteiner">
    <br>
    <br>
    <div style="text-align: left;">
        <h1>Polityka prywatnosci</h1>
        <br>
        <br>
        <section id="1">
            <h2>1. Definicje</h2>
            <p>1.1 Serwer Support - Serwer support bota funkcjonujący na platformie <a href="https://discord.com">Discord</a>.
            </p>
            <p>1.2 Strona i Panel - serwis internetowy funkcjonujący pod adresem delover.pro i subdomenami.</p>
            <p>1.3 Administrator - osoba posiadająca dostęp do zarządzania usługą.</p>
            <p>1.4 Bot - Oficjalny bot na platformie <a href="https://discord.com">Discord</a>. <strong>Bot nie należy
                    do
                    discorda.</strong></p>
            <p>1.5 Użytkownik - każda osoba korzystająca z Serwera, Strony lub Panelu.</p>
            <p>1.6 Wymagane uprawnienia - Uprawnienia na platformie Discord, które są wymagane do poprawnego działania
                Bota. (<code>SEND_MESSAGES, VIEW_CHANNEL, READ_MESSAGE_HISTORY, USE_EXTERNAL_EMOJIS, ADD_REACTIONS,
                    CREATE_INSTANT_INVITE, EMBED_LINKS</code>)
            </p>
            <br>
        </section>
        <section id="2">
            <h2>2. Przetwarzane dane</h2>
            <p>
                <i class='bx bx-info-circle'></i>
                Poniższe dane <strong>nie stanowią</strong> danych osobowych.
            </p>
            <p>2.1 Dane twojego konta.</p>
            <p>2.2 ID kanałow, serwerów.</p>
            <p>2.3 Zaproszenia do serwerów.</p>
            <p>2.4 Ustawienia serwera/użytkownika.</p>
        </section>
        <section id="3">
            <h2>3. Zasady ogólne</h2>
            <p>3.1 Autoryzując bota/logując sie do panelu akceptujesz polityke prywatności.</p>
            <p>3.2 Administrator ma prawo stworzyć zaproszenie do twojego serwera. (w celach kontroli bezpieczeństwa Bota
                lub w celach Pomocy)</p>
            <p>3.3 Administrator nie odpowiada za szkody wyrządzone w skutek nieprawidłowego ustawienia
                uprawnień/oraz innych błedów na serwerze Użytkownika.</p>
            <p>3.4 Zakazuje sie prób działania na szkode Bota lub Strony.</p>
            <p>3.5 Zakazuje sie prób omijania blokad i zabezpieczeń.</p>
            <p>3.6 Zakazuje sie autoryzacji bota bez wymaganych uprawnień. (<a href="#1">1.6</a>)</p>
            <p>3.7 Zakazuje sie kopiowania Strony lub Bota.</p>
        </section>
        <section id="4">
            <h2>4. Pliki cookies</h2>
            <p>4.1 Potrzebujemy plików cookie by zapewnić prawidłowe funkcjonowanie strony i panelu.</p>
            <p>
                <i class='bx bx-info-circle'></i>
                Pliki cookie umieszczane są tylko przez naszą strone.</p>
        </section>
    </div>
</div>


</body>
</html>