<!DOCTYPE html>
<html lang="pl">

<head>
    <%- include("partials/imports") %>
</head>

<body>

<%- include("elements/navbar") %>

<div class="conteiner">
    <br>
    <br>
    <br>
    <br>
    <h1>WIP</h1>
</div>
</body>